<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MSSQLConnect" value="server=.; database=DabaiDB; integrated Security=SSPI" />
    <add key="appID" value="7Hc_C50F4bX7vESSAiuabtwVor0a" />
    <add key="appSecret" value="TEIgqD8l1AKLmhbb7eqMStKzO80a" />
  </appSettings>
</configuration>